In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../../datasets/ads/Advertising.csv")

In [12]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [15]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

## Dividir el dataset en conjunto de entrenamiento y de testing

In [8]:
a = np.random.randn(len(data))
len(data)

200

In [5]:
check = (a<0.8)
training = data[check]
testing = data[~check]

In [9]:
len(training),len(testing)

(160, 40)

### a

In [10]:
import statsmodels.formula.api as smf

In [17]:
lm_train = smf.ols(formula="Sales~TV+Radio", data=training).fit()

In [18]:
lm_train.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.898
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     688.1
Date:                Wed, 24 Nov 2021   Prob (F-statistic):           2.03e-78
Time:                        19:14:12   Log-Likelihood:                -311.21
No. Observations:                 160   AIC:                             628.4
Df Residuals:                     157   BIC:                             637.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.9183      0.329      8.868      0.000       2.268       3.568
TV             0.0470      0.002     30.323      0.000       0.044       0.050
Radio          0.1782      0.009     19.458      0.000       0.160       0.196
==============================================================================
Omnibus:                       48.417   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              108.066
Skew:                          -1.318   Prob(JB):                     3.42e-24
Kurtosis:                       6.043   Cond. No.                         414.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Validación del modelo con el conjunto de testing

In [19]:
sales_pred = lm_train.predict(testing)
sales_pred

3      17.404470
13      8.858515
18      9.826613
19     14.105805
21     14.992773
22      6.372965
28     19.449909
35     17.321370
39     20.360830
40     16.416828
43     14.146432
46      8.901583
55     21.077431
67     12.054224
71     10.631126
72     10.060265
73     10.020218
76      4.496898
88     11.616060
89     16.601690
90     10.108095
100    14.144708
101    23.328325
103    14.821205
105    17.673782
109    19.724677
114    14.937242
121     7.670055
122    13.881330
128    22.012632
141    18.337702
146    15.511857
151    10.106356
152    16.364596
159    12.391859
163    17.166842
172     7.422520
185    20.597957
188    18.846931
194    16.303925
dtype: float64

In [20]:
SSD = sum((testing["Sales"]-sales_pred)*22)
SSD

185.49082350204506

In [22]:
RSE = np.sqrt(SSD/(len(testing)-2-1))
RSE

2.239032268649845

In [23]:
sales_mean = np.mean(testing["Sales"])
error = RSE/sales_mean
error

0.15322718690503642