In [6]:
!pip3 install findspark

Collecting findspark
  Using cached findspark-2.0.0-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.0

In [7]:
!pip3 install pyspark

Collecting pyspark
  Using cached pyspark-3.2.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.2
  Using cached py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=252a156f8bcc64a346f7da5fb3a1d3f1a430f8eceb556b2e9f051cffa6887214
  Stored in directory: c:\users\nicolas\appdata\local\pip\cache\wheels\23\f6\d3\110e53bd43baeb8d7d38049733d48e39cbecd056f01dba7ee8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

### SparkSession crear y leer Dataframe en PySpark

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('firstSession').config('spark.master','local[4]').config('spark.shuffle.sql.partitions', 1).getOrCreate()

In [15]:
spark

Detener la palicacion.

In [13]:
spark.stop()

## 2. Crear tabla

### 2.1 A partir de una lista

In [16]:
columnas = ['id','nombre','x']

lista = [
    (1,'Nicolas','a'),
    (2,'Ramiro','b'),
    (3,'Gomez','c'),
    (4,'Nacho','d'),
]

In [17]:
df_1 = spark.createDataFrame(lista, schema=columnas)

In [20]:
# cuantas filas tiene
df_1.count()

4

In [24]:
# muestra el dataframe
df_1.show()

+---+-------+---+
| id| nombre|  x|
+---+-------+---+
|  1|Nicolas|  a|
|  2| Ramiro|  b|
|  3|  Gomez|  c|
|  4|  Nacho|  d|
+---+-------+---+

In [27]:
# Muestra el nombre de las columnas
df_1.columns

['id', 'nombre', 'x']

In [29]:
# Muestra el tipo de datos de cada columna
df_1.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- x: string (nullable = true)

In [31]:
#Describe
df_1.describe().show()

+-------+------------------+------+----+
|summary|                id|nombre|   x|
+-------+------------------+------+----+
|  count|                 4|     4|   4|
|   mean|               2.5|  null|null|
| stddev|1.2909944487358056|  null|null|
|    min|                 1| Gomez|   a|
|    max|                 4|Ramiro|   d|
+-------+------------------+------+----+

In [32]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [34]:
schema_1 = StructType(
    [
        StructField('id',IntegerType(), True),
        StructField('nombre',StringType(), True),
        StructField('y',StringType(), True)
    ]
)

In [35]:
df_2 = spark.createDataFrame(lista, schema= schema_1)

In [36]:
df_2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- y: string (nullable = true)

In [37]:
df_2.show()

+---+-------+---+
| id| nombre|  y|
+---+-------+---+
|  1|Nicolas|  a|
|  2| Ramiro|  b|
|  3|  Gomez|  c|
|  4|  Nacho|  d|
+---+-------+---+

### 2.2 A partir de un csv