In [1]:
import pandas as pd
import sqlite3

In [9]:
query_tables = "select * from sqlite_master where type='table';"
con = sqlite3.connect("../datasets/nba_salary.sqlite")

In [ ]:
tables = pd.read_sql_query(query_tables,con)

In [13]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\nicolas\anaconda3\lib\site-packages (1.3.20)

In [8]:
tables

,type,name,tbl_name,rootpage,sql
0,table,NBA_season1718_salary,NBA_season1718_salary,2,CREATE TABLE `NBA_season1718_salary` (\n `X1`...
1,table,Seasons_Stats,Seasons_Stats,8,"CREATE TABLE `Seasons_Stats` (\n `X1` REAL,\n..."

In [11]:
querry_nba = pd.read_sql_query("select * from NBA_season1718_salary;",con)

In [12]:
querry_nba

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [14]:
querry_nba = pd.read_sql_query("select * from NBA_season1718_salary;",con)

In [16]:
import sqlalchemy