### Librerías utilizadas

In [2]:
#Se importan la librerias a utilizar
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

### Importamos la data

In [4]:
df = pd.read_csv("/Users/Nicolas/Documents/DataScience/python-ml-course/datasets/titanic/titanic3.csv")
len(df)

1309

### Con librerira skelear

In [9]:
#se importa los datos a utilizar
df_train, df_test = train_test_split(df,test_size = 0.2)

In [10]:
len(df_train)

1047

In [11]:
len(df_test)

262

In [15]:
#Verifico la cantidad de datos que hay en los dataset
print('Cantidad de datos:')
print(df_train.shape)
print(df_test.shape)

Cantidad de datos:
(1047, 14)
(262, 14)

In [16]:
#Verifico el tipo de datos contenida en ambos dataset
print('Tipos de datos:')
print(df_train.info())
print(df_test.info())

Tipos de datos:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047 entries, 804 to 949
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1047 non-null   int64
 1   survived   1047 non-null   int64
 2   name       1047 non-null   object
 3   sex        1047 non-null   object
 4   age        837 non-null    float64
 5   sibsp      1047 non-null   int64
 6   parch      1047 non-null   int64
 7   ticket     1047 non-null   object
 8   fare       1047 non-null   float64
 9   cabin      243 non-null    object
 10  embarked   1046 non-null   object
 11  boat       395 non-null    object
 12  body       98 non-null     float64
 13  home.dest  595 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 122.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 633 to 642
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     262 non-null    int64
 1   survived   262 non-null    int64
 2   name       262 non-null    object
 3   sex        262 non-null    object
 4   age        209 non-null    float64
 5   sibsp      262 non-null    int64
 6   parch      262 non-null    int64
 7   ticket     262 non-null    object
 8   fare       261 non-null    float64
 9   cabin      52 non-null     object
 10  embarked   261 non-null    object
 11  boat       91 non-null     object
 12  body       23 non-null     float64
 13  home.dest  150 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 30.7+ KB
None

### Entedimiento de la data

### Preparacion de la data

### Aplicación de algoritmos de machine learning

### Predicción utilizando los modelos